:local(.component) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    .videoContainer {
        width: 100%;
    }
    .video-react {
        outline: none !important;
    }
    .video-react-control-bar {
        font-family: sans-serif !important;
    }
    .video-react-big-play-button {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}