.App {
    overflow-x: hidden;

    .formHome{
        .formContainer {
            width: 60%;
            z-index: 4;
        }
        div[role=button]{
            overflow: initial !important;
            margin-top: -16% !important;

            svg {
              width: 60% !important;
              margin-left: 35% !important
            }
        }
    }
    @media (max-width: 640px) {
        .formHome{
            .formContainer {
                width: 85%;
                z-index: 4;
            }
            div[role=button]{
                overflow: initial !important;
                margin-top: -16% !important;
    
                svg {
                  width: 60% !important;
                  margin-left: 35% !important
                }
            }
        }
    }
}




    // la
    // top: 108px;
    // left: 32px;
    // bulle
    // top: 191px;
    // left: 73px;
    // de
    // top: 295px;
    // left: 153px;
    // filtres
    // top: 393px;
    // left: 185px;