@import "~video-react/styles/scss/video-react";

// ROBOTO MONO FONT
@font-face {
  font-family: "RobotoMono";
  src: url('./fonts/Roboto_Mono/RobotoMono-Regular.ttf') format("truetype"),
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/circularStd/CircularStd-Book.woff') format('woff');
}

@font-face {
    font-family: 'CircularStd';
    font-style: normal;
    font-weight: bold;
    src: url('./fonts/circularStd/CircularStd-Black.woff') format('woff');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "RobotoMono";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: red;
	top: 0;
	left: 0;
	z-index: 10;
}

.ending {
	background-color: black;
	height: 100vh;
	width: 100%;
	color: white;
}



/** FORMULE CALCUL FLUID FONT

** $minFontSize : taille minimum de la font (px)
** $maxFontSize : taille maximum de la font (px)
** $minScreenSize : taille écran minimum à partir de laquelle la taille MINIMUM prend le dessus (px)
** $maxScreenSize : taille écran minimum à partir de laquelle la taille MAXIMUM prend le dessus (px)

font-size: calc($minFontSize + ($maxFontSize - $minFrontSize) * ((100vw - $minScreenSize) / ($maxScreenSize - $minScreenSize));

**/