:local(.component) {
    position: relative;
    height: 100vh;

    .trackingAnimBg {
        position: fixed;
        top: 0;
        left: 0;
    }
    #camera{
        position:absolute;
        top: 10%;
        width: 35%;
    }

    #titleTracking{
        height: 200px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        font-family: CircularStd;
        font-size: 120px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            white-space: nowrap;
        }
    }

    #titleTracking--inner{
        display: block;
        width: 200%;
        position: absolute;
        animation: titleTracking 15s linear infinite;
    }

    .title-container{
        width: 100%;
        display: inline-block;
    }

    @keyframes titleTracking {
      0% { left: 100%; }
      100% { left: -340%; }
    }

}
