:local(.component) {
    position: relative;
    height: 100vh;

    #camera{
        position:absolute;
        top: 10%;
        width: 35%;
    }

    // #canvasTracking{
    //     height: 100vh;
    //     width: 100%;
    // }

    #titleTracking{
        position: absolute;
        font-family: CircularStd;
        white-space: nowrap;
        top: 0;
        font-size: 120px;
        margin-top: 45vh;
        color: #fff;
        cursor: pointer;
        // transform: translateX(50%);
    }

}
