:local(.component) {
    position: relative;
    height: 100vh;
    .center {
        position: relative;
        .bubbles {
            .filledBubble {
                border-radius: 100%;
                position: absolute;
                background: #0000FF;
            }
            .filledBubble:nth-child(1) {
                width: 217px;
                height: 217px;
                left: 114px;
                top: 43px;
            }
            .filledBubble:nth-child(2) {
                width: 117px;
                height: 117px;
                left: 905px;
                top: 64px;
            }
            .filledBubble:nth-child(3) {
                width: 117px;
                height: 117px;
                left: 340px;
                top: 535px;
            }
            .filledBubble:nth-child(4) {
                width: 178px;
                height: 178px;
                left: 602px;
                top: 467px;
            }
            .borderBubble {
                position: absolute;
                border-radius: 100%;
                border: 5px solid #0000FF;
                box-sizing: border-box;
            }
            .borderBubble:nth-child(5) {
                width: 179px;
                height: 179px;
                left: -44px;
                top: 456px;
            }
            .borderBubble:nth-child(6) {
                width: 135px;
                height: 135px;
                left: 247px;
                top: 379px;
            }
            .borderBubble:nth-child(7) {
                width: 217px;
                height: 217px;
                left: 844px;
                top: 377px;
            }
            .borderBubble:nth-child(8) {
                width: 242px;
                height: 242px;
                left: 1052px;
                top: 151px;
            }
            .borderBubble:nth-child(9) {
                width: 121px;
                height: 121px;
                left: 1133px;
                top: 494px;
            }
        }
        .titleBubble {
            position: relative;
            width: 300px;
            height: 300px;
            left: 480px;
            top: 93px;
            border: 5px solid #000000;
            border-radius: 100%;
            box-sizing: border-box;
            font-family: 'CircularStd';
            span {
                line-height: normal;
                font-size: 36px;
                color: #000000;
            }
            .dans {
                position: absolute;
                left: 55px;
                top: 60px;
                transform: rotate(-6.85deg);
            }
            .la {
                position: absolute;
                top: 117px;
                left: 180px;
                transform: rotate(5deg);
            }
            .bulle {
                position: absolute;
                top: 185px;
                left: 91px;
                transform: rotate(3deg);
            }
        }
    }
}

