:local(.component) {
    position: relative;
    height: 100vh;
    .center {
        position: absolute;
    }
    .titleBubble {
        position: relative;
        width: 300px;
        height: 300px;
        left: 480px;
        top: 93px;
        border: 5px solid #000000;
        border-radius: 100%;
        box-sizing: border-box;
        font-family: 'CircularStd';
        font-weight: bold;
        background-color: white;
        span {
            line-height: normal;
            font-size: 36px;
            color: #000000;
        }
        .dans {
            position: absolute;
            left: 55px;
            top: 60px;
            transform: rotate(-6.85deg);
        }
        .la {
            position: absolute;
            top: 117px;
            left: 180px;
            transform: rotate(5deg);
        }
        .bulle {
            position: absolute;
            top: 185px;
            left: 91px;
            transform: rotate(3deg);
        }
    }
    @media (max-width: 640px) {
        .titleBubble {
            width: 43.5vw;
            height: 43.5vw;
            left: 20vw;
            top: 211px;
            span {
                font-size: 27px;
            }
            .dans {
                left: 34px;
                top: 13px;
            }
            .la {
                top: 56px;
                left: 104px;
            }
            .bulle {
                top: 101px;
                left: 48px;
            }
        }
    }
}
body {
    cursor: url ("../public/assets/media/img/arrow.png"), auto;
}