:local(.component) {
    position: relative;
    height: 100vh;
    .divGeneral {
        width: 99vw;
        height: 99vh;
        margin: auto;
        .divTwo {
          margin: auto;
          border: 3px solid #000;
          width: 200px;
          height: 200px;
          position: absolute;
          transform:translate(0,0);
          animation-name:glissement;
          animation-duration:5s;
          animation-iteration-count:infinite;
          animation-direction:alternate;
          margin-left: 40%;
          border-radius: 50%;
            .canvaTwo {
                position: absolute;
            }
        }
        .titleBubble {
            position: relative;
            width: 300px;
            height: 300px;
            left: 480px;
            top: 93px;
            border: 5px solid #000000;
            border-radius: 100%;
            box-sizing: border-box;
            font-family: 'CircularStd';
            font-weight: bold;
            span {
                line-height: normal;
                font-size: 36px;
                color: #000000;
            }
            .dans {
                position: absolute;
                left: 55px;
                top: 60px;
                transform: rotate(-6.85deg);
            }
            .la {
                position: absolute;
                top: 117px;
                left: 180px;
                transform: rotate(5deg);
            }
            .bulle {
                position: absolute;
                top: 185px;
                left: 91px;
                transform: rotate(3deg);
            }
        .canvaOne{
          width: 99vw;
          height: 99vh;
        }
    }
}
@media (max-width: 380px) {
    :local(.component) {
        position: relative;
        height: 100vh;
        .divGeneral {
            width: 99vw;
            height: 99vh;
            margin: auto;
            // .divTwo {
            //   margin: auto;
            //   border: 3px solid #000;
            //   width: 150px;
            //   height: 150px;
            //   margin-left: 20%;
            //   border-radius: 50%;
            //     .canvaTwo {
            //         position: absolute;
            //     }
            // }
            .canvaOne{
              width: 99vw;
              height: 99vh;
            }
        }
    }  
}