:local(.component) {
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    .divGeneral {
        width: 100vw;
        height: 100vh;
        margin: auto;
        .canvaOne{
          width: 99vw;
          height: 99vh;
        }
    }
}
@media (max-width: 380px) {
    :local(.component) {
        position: relative;
        height: 100vh;
        .divGeneral {
            width: 100vw;
            height: 100vh;
            margin: auto;
            .canvaOne{
              width: 100vw;
              height: 100vh;
            }
        }
    }  
}