:local(.component) {
    position: absolute;
    transform-origin: 50% 50%;
    .handle {
        background-color: white;
        border: solid 2px black;
        position: absolute;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        .titleContainer {
            display: flex;
            padding: 15px 20px;
            box-sizing: border-box;
            background-color: white;
            border-bottom: solid 2px black;
            .dots {
                display: flex;
                align-items: center;
                margin-right: 10px;
                div {
                    width: 12px;
                    height: 12px;
                    background-color: black;
                    border-radius: 50px;
                    margin-right: 8px;
                }
            }
            .videoTitle {
                font-family: 'RobotoMono';
                font-size: 14px;
                span {
                    font-weight: bold;
                }
            }
        }
        .paragraph {
            padding: 15px 20px;
            font-family: 'CircularStd';
            font-size: 16px;
            line-height: 30px;
        }
    }
}
@media (max-width: 380px) {
    :local(.component) {
        position: absolute;
        .handle {
            position: absolute;
            cursor: pointer;
            width: 80vw;
        }
    }
}