:local(.component) {
    position: absolute;
    .handle {
        background-color: white;
        border: solid 2px black;
        position: absolute;
        cursor: pointer;
        .titleContainer {
            display: flex;
            padding: 15px 20px;
            box-sizing: border-box;
            background-color: white;
            border-bottom: solid 2px black;
            .dots {
                display: flex;
                align-items: center;
                margin-right: 10px;
                div {
                    width: 12px;
                    height: 12px;
                    background-color: black;
                    border-radius: 50px;
                    margin-right: 8px;
                }
            }
            .videoTitle {
                font-family: 'RobotoMono';
                font-size: 14px;
                span {
                    font-weight: bold;
                }
            }
        }
        .paragraph {
            padding: 15px 20px;
        }
    }
}