:local(.component) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .formContainer {
        max-width: 640px;
        width: 100%;
        height: 400px;
        margin: 0 auto;
        border: solid 5px black;
        position: relative;
        &__title {
            border-bottom: solid 5px black;
            padding: 10px 15px;
        }
        .form {
            width: 100%;
            height: calc(90% - 54px);
            margin-top: 54px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
