.algorithms , .tracking, .bigData{

    .straight {
        svg {
            width: 12% !important;
            position: absolute;
            left: 0;
            z-index: 4;
        }
    }

    .transition{
        height: 100vh;
        svg{
            width: 100% !important;
            position: relative !important;
        }
    }
}
