:local(.component) {
    width: auto;
    min-width: 50vw;
    .paragraph {
        font-size: 24px;
    }
    .subtitle {
        margin-top: 15px;
    }
    .underlineBlue {
        u {
            color: #0000FF;
        }
    }
    .underlineWhite {
        u {
            color: white;
        }
    }
}